*/obj/*
.vs/*
*/bin/*
RaftExperiment1/bin/*
RaftExperiment1/bin/Debug/net8.0/RaftExperiment1.dll
RaftExperiment1/bin/Debug/net8.0/RaftExperiment1.exe
RaftExperiment1/bin/Debug/net8.0/RaftExperiment1.pdb
